.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tile-container {
  display: grid;
  grid-template-columns: repeat(7, 50px);
  grid-gap: 10px;
  margin-bottom: 20px;
  padding-top: 20px;
}

.tile {
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.tile:nth-child(1) {
  background-color: #FF5733;
}

/* A */
.tile:nth-child(2) {
  background-color: #33FF57;
}

/* B */
.tile:nth-child(3) {
  background-color: #3357FF;
}

/* C */
.tile:nth-child(4) {
  background-color: #FF33A8;
}

/* D */
.tile:nth-child(5) {
  background-color: #FF8F33;
}

/* E */
.tile:nth-child(6) {
  background-color: #8FFF33;
}

/* F */
.tile:nth-child(7) {
  background-color: #33FFF3;
}

/* G */
.tile:nth-child(8) {
  background-color: #F333FF;
}

/* H */
.tile:nth-child(9) {
  background-color: #FFA533;
}

/* I */
.tile:nth-child(10) {
  background-color: #A5FF33;
}

/* J */
.tile:nth-child(11) {
  background-color: #33A5FF;
}

/* K */
.tile:nth-child(12) {
  background-color: #FF33FF;
}

/* L */
.tile:nth-child(13) {
  background-color: #FF3333;
}

/* M */
.tile:nth-child(14) {
  background-color: #33FF8F;
}

/* N */
.tile:nth-child(15) {
  background-color: #8F33FF;
}

/* O */
.tile:nth-child(16) {
  background-color: #33FFA5;
}

/* P */
.tile:nth-child(17) {
  background-color: #FF3357;
}

/* Q */
.tile:nth-child(18) {
  background-color: #57FF33;
}

/* R */
.tile:nth-child(19) {
  background-color: #3357FF;
}

/* S */
.tile:nth-child(20) {
  background-color: #FF5733;
}

/* T */
.tile:nth-child(21) {
  background-color: #33FF57;
}

/* U */
.tile:nth-child(22) {
  background-color: #3357FF;
}

/* V */
.tile:nth-child(23) {
  background-color: #FF33A8;
}

/* W */
.tile:nth-child(24) {
  background-color: #FF8F33;
}

/* X */
.tile:nth-child(25) {
  background-color: #8FFF33;
}

/* Y */
.tile:nth-child(26) {
  background-color: #33FFF3;
}

/* Z */

#outputString {
  font-size: 24px;
  margin-top: 20px;
}